{% load ui %}
{% var as localcolors %}
{
"background":                   "rgb(244, 243, 241)",
"header_background":            "{{ PRIMARY_COLOR }}",
"dropdownmenu_text":            "{{ SECONDARY_COLOR }}"
}
{% endvar %}


<style type='text/css'>

html {}

#logo {
    background: url({% url static 'static_local/custom_logo_idea.png' %}) no-repeat bottom left;
    width: 150px;
    height: 50px;
    display: block;
    float: left;
    margin-left: 10px;
}

body.master {
background-color: {{ localcolors.background }};

    }
</style>

